  pip install ffmpeg-python==0.2.0
  pip install numpy==1.26.4
  pip install pygame==2.5.2
  pip install ffmpeg-python==0.2.0
  pip install scipy==1.10.1
  pip install matplotlib==3.5.1
  pip install imageio==2.33.1
  pip install imageio-ffmpeg==0.4.9